<!DOCTYPE html>
<html lang="en">
    <head th:replace="~{/layouts/header :: headerFragment(~{::title})}">
        <title>Config</title>
    </head>
    <body class="sb-nav-fixed">
        <nav th:replace="~{/layouts/top :: top-nav}"></nav>
        <div id="layoutSidenav">
            <!-- Left Side Menu-->
            <div th:replace="~{/layouts/left-side :: side-nav}"></div>

            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">사이트 설정</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">사이트 설정</li>
                        </ol>

                        <div class="row">
                            <div class="md-12">
                                <div class="card-body">
                                    <table id="itemTable"  class="datatable-table">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Key</th>
                                                <th>Value</th>
                                                <th>Category</th>
                                                <th>Comment</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="conf: ${confs}">
                                                <td th:text="${conf.id}">ID</td>
                                                <td th:text="${conf.confName}">Key</td>
                                                <td th:text="${conf.confValue}">Value</td>
                                                <td th:text="${conf.category}">Category</td>
                                                <td th:text="${conf.comment}">Comment</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                <footer th:replace="~{/layouts/footer :: footerFragment}"></footer>
            </div>
        </div>

        <th:block th:replace="~{/layouts/scripts :: scriptFragment}"></th:block>
        <script type="text/javascript">
            $(document).ready(function () {
                var table = $("#itemTable").DataTable({
                    destroy: true, // 테이블을 재초기화할 수 있도록 설정
                    searching: true, // 검색 기능 비활성화
                    paging: true, // 페이지네이션 활성화
                    ordering: true, // 정렬 활성화
                  });
            });
        </script>
    </body>
</html>
